* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
main {
  padding: 5%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: lightgreen;
  min-height: 100vh;
}

form {
  margin: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
form input {
  width: 30%;
  height: 30px;
  font-size: 18px;
  padding: 5px;
  margin-right: 1%;
}
form button {
  height: 30px;
  font-size: 18px;
  padding: 5px;
}
ul {
  list-style: none;
  font-size: 18px;
}
